<%= link_to "Back to Products", '/products' %>


<p>
	ID:<%= @product[:id] %> &#32; Name:<%= @product[:name] %> &#32; Descrip:<%= @product[:description] %> &#32; Price:<%= @product.formatted_price%></p>
<img src="<%= @product[:url] %>">